@import "compass/css3/font-face";

@include font-face("open_sansregular", '../fonts/opensans-regular-webfont', 400, normal);
$open_sansregular: "open_sansregular";

@include font-face("open_sansbold_italic", '../fonts/opensans-bolditalic-webfont', 700, normal);
$open_sansbold_italic: "opensans-bolditalic-webfont";

@include font-face("open_sansitalic", '../fonts/opensans-italic-webfont', 400, normal);
$open_sansitalic: "open_sansitalic";

@include font-face("open_sansbold", '../fonts/opensans-bold-webfont', 700, normal);
$open_sansbold: "open_sansbold";

@include font-face("open_sanssemibold", '../fonts/opensans-semibold-webfont', 600, normal);
$open_sanssemibold: "open_sanssemibold";

@include font-face("open_sanslight", '../fonts/opensans-light-webfont', 100, normal);
$open_sanslight: "open_sanslight";

@include font-face("open_sansextrabold", '../fonts/OpenSansExtraBold', 800, normal);
$open_sansextrabold: "open_sansextrabold";

@include font-face("RobotoBlack", '../fonts/RobotoBlack', 900, normal);
$roboto-black: "RobotoBlack";

@include font-face("RobotoBold", '../fonts/RobotoBold', 700, normal);
$roboto-bold: "RobotoBold";

@include font-face("RobotoLight", '../fonts/RobotoLight', 300, normal);
$roboto-light: "RobotoLight";

@include font-face("RobotoRegular", '../fonts/RobotoRegular', 400, normal);
$roboto: "RobotoRegular";

@include font-face("RobotoMedium", '../fonts/roboto-medium-webfont', 500, normal);
$roboto-medium: "RobotoMedium";

@include font-face("RobotoItalic", '../fonts/RobotoItalic', 400, normal);
$roboto-italic: "RobotoItalic";

@include font-face("PFHighwaySansProMedium", '../fonts/PFHighwaySansProMedium', 800, normal);
$PFHighwayMedium: "PFHighwaySansProMedium";

@include font-face("PFHighwaySansProLight", '../fonts/PFHighwaySansProLight', 800, normal);
$PFHighwayLight: "PFHighwaySansProLight";

@include font-face("PFHighwaySansProThin", '../fonts/PFHighwaySansProThin', 800, normal);
$PFHighwayThin: "PFHighwaySansProThin";

@include font-face("VAGRound", '../fonts/VAGRound', 800, normal);
$VAGRound: "VAGRound";





$white: #ffffff;
$black: #000000;
$red: #ff0000;
$gray-light: #999999;
$gray-lighter: #aaaaaa;
$gray-dark: #333333;
$gray-extra-light: #e5e5e5;
$orange: #ff5900;
$orange-light: #ff9966;
$orange-lighter: #ff935b;
$green: #cadb2a;
$purple: #990099;
$yellow: #e19f02;
$yellow-light: #fff200;
$blue: #3399ff;
$green-dark: #879317;
$gray-btn: #383838;
$dark-green: #006600;
$default-color: #666666;
$bg-light: #f8f8f8;
$facebook-color: #44609c;
$gold: #ffcc00;
$pink: #dd5280;
$under-approval: #ffe4e4;

$menu-color1: $pink;
$menu-color2: $green-dark;
$menu-color3: $blue;
$menu-color4: $purple;
$menu-color5: #ff9900;
$menu-color6: #cc6600;
$menu-color7: #f03774;
$menu-color8: #60c8ff;
$menu-color9: $orange-light;
$menu-color10: #cadc28;

$facebook: #3a5897;
$google: #dc4e41;
$twitter: #54aced;

$body: #eeeff1;
$header-dark: #0d0d0d;
$header-light: #383838;

$input-color: #dddddd;
$input-text: #999999;
$label-color: #656565;
$checkbox: #cecece;

$navbar-link: #cccccc;
$navbar-sep: $gray-btn;

$main-slider-dotts: #e8e8e8;

$box-border: #ebebeb;

$ptitle-border: $box-border;
$ptitle-color: $default-color;
$ptitle-line: $green-dark;

$list-hover1: #c200c2;

$comments-even: #ededed;

$range: #696f35;
$range-handle: #aab724;

$monthday: #e4e9e9;
$year: #7f7f7f;

$ds-desc: #8c8c8c;
$ds-calendar-dark: #006699;

$upload-text: #a0a0a0;

$error-text: #f85050;

$theme-switcher-bg: #59c3fd;

$box-offices-tabs-1: $list-hover1;
$box-offices-tabs-2: $menu-color7;
$box-offices-tabs-3: $menu-color6;
$box-offices-tab-active: #fff6ff;
$box-offices-tab-table-thead: #d0d0d0;
$box-offices-table-total: #097ebe;

$btn-cancel: #8a8a8a;